In [45]:
list1 = ["*"*i for i in range(10)]
print(list1)

['', '*', '**', '***', '****', '*****', '******', '*******', '********', '*********']

In [3]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [17]:
print({i:j for i,j in enumerate('TEAMLAB is an academic instituete loacated in south korea.'.split())})

{0: 'TEAMLAB', 1: 'is', 2: 'an', 3: 'academic', 4: 'instituete', 5: 'loacated', 6: 'in', 7: 'south', 8: 'korea.'}

In [16]:
# enumerate 함수와 zip 함수를 같이 사용해서 리스트를 묶고 같은 인덱스 끼리의 값을 출력해줄 수 있다.

alist = ['a1', 'a2' ,'a3']
blist = ['b1', 'b2', 'b3']
for i, (a,b) in enumerate(zip(alist, blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

In [23]:
#람다 함수의 사용
#함수의 이름 없이, 함수처럼 사용할 수 있는 익명의 함수를 말한다.
#일반적으로 람다 함수는 이름을 지정하지 않아도 사용할 수 있다.

#일반적인 함수
def f(x,y):
    return x + y

print(f(1,4))


# 람다 함수 사용
f = lambda x,y:x+y
print(f(1,4))

f = lambda x:x**2
print(f(3))

f = lambda x : x/2
print(f(3))

5
5
9
1.5

In [30]:
#맵리듀스
#파이썬뿐 아니라, 빅데이터를 처리하기 위한 기본 알고리즘으로도 많이 사용한다.
#맵리듀스는 map() , reduce()함수가 있다.
#map() : 연속 데이터를 저장하는 시쿼스형에서 요소마다 같은 기능을 적용할 때 사용한다.
ex = [1,2,3,4,5]
f = lambda x:x**2
print(list(map(f,ex)))

#리스트 컴프리헨션 
ex = [1,2,3,4,5]
print([i**2 for i in ex ])

ex = [1,2,3,4,5]
f = lambda x,y : x+y
list(map(f,ex,ex))

ex = [1,2,3,4,5]
print([x+y for x,y in zip(ex,ex)])

list(map(lambda x : x**2 if x % 2 == 0 else x , ex))
[x **2 if x%2 == 0 else x for x in ex]

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]

[1, 4, 3, 16, 5]

In [48]:
#reduce 함수는 map()함수와 용법은 다르지만, 형제처럼 함께 사용하는 함수이다.
#reduce()함수는 리스트와 같은 시퀀스 자료형에 차례대로 함수를 적용하여 모든 값을 통합하는 함수이다.
from functools import reduce
print(reduce(lambda x,y: x+y, [1,2,3,4,5]))

15

In [52]:
#별표의 사용 (asterisk)는 곱하기 기호(*)를 뜻한다. 발표는 기본 연산자로, 단순 곱셈이나, 제곱 연산에
#많이 사용됐다. 하지만 발표를 사용하는 특별한 경우가 있다. 

def asterisk_test(a, *args):
    print(a,args)
    print(type(args))
asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [51]:
#별표의 언패킹 기능

def asterisk_test(a, args):
    print(a, *args)
    print(type(args))
asterisk_test(1,(2,3,4,5,6))
#기존 (2,3,4,5,6)이던 튜플 친구가 언패킹 되면서 출력된다.위 결과와 다른 결과를 보여줌

1 2 3 4 5 6
<class 'tuple'>

In [69]:
data = [1,2,3,4,5,6]
print(data) # 차이점을 보세요.
print(*data) # 리스트를 패킹한것과 언패킹 한것.
print(type(data))

[1, 2, 3, 4, 5, 6]
1 2 3 4 5 6
<class 'list'>

In [65]:
for data in zip(*[[1,2],[3,4],[5,6]]):
    print(data)
    print(type(data))

(1, 3, 5)
<class 'tuple'>
(2, 4, 6)
<class 'tuple'>

In [67]:
def asterisk_test(a,b,c,d):
    print(a,b,c,d)
data = {"b":1, "c":2 ,"d":3}
asterisk_test(10, **data)

10 1 2 3

# 선형대수학
### 벡터 와 행렬의 개념 : 벡터(vetor)
고등학교 수학에서 어떤 정보를 표현할 때 크기와 방향을 모두 가지고 있는 것을 벡터라고 하고, 크기만 가지고 있는 것을 스칼라라고 하였다. 일반적으로 열 형태로 숫자를 표현하고 좌표평면에 나타낸다. 파이썬에서 리스트하고 비슷하다 여려 개의 데이터를 하나의 정보에 표현한다고 생각할 수 있다.
### 벡터와 행렬의 개념  :  행렬(matrix)
행렬은 원래 격자를 뜻하는데, 수학에서는 사각형으로 된 수의 배열을 지칭한다. 쉽게 말해, 1개 이상의 벡터 모임을 행렬이라고 생각하면 된다, 즉, 행렬에서 행 또는 열은 하나의 대상에 대한 정보를 표현한 것이며, 그 모음이 바로 행렬이다.

In [ ]:
# 파이썬 스타일 코드로 표현한 벡터

vector_a = [1,2,10] #리스트로 표현한 경우
vector_b = (1,2,10) #튜플로 표현한 경우
vector_c = {'x':1,'y':1, 'z':10} #딕셔너리로 표현한 경우

In [71]:
#파이썬 스타일 코드로 표현한 벡터 : 벡터의 연산
#벡터의 가장 기본적인 연산은 같은 위치에 있는 값끼리 연산하는 것이다.

u = [2,2]
v = [2,3]
z = [3,5]

result = [sum(t)for t in zip(u,v,z)]
print(result)

[7, 10]

In [75]:
#파이썬 스타일 코드로 표현한 벡터 : 별표를 사용한 함수화.
def vector_addition(*args):
    return[sum(t) for t in zip(*args)]
print(vector_addition(u,v,z))
print(type(vector_addition(u,v,z)))
row_vectors = [[2,2],[2,3],[3,5]]
vector_addition(*row_vectors)

[7, 10]
<class 'list'>

[7, 10]

In [76]:
#파이썬 스타일 코드로 표현한 벡터 : 스칼라-벡터 연산
#간단히 숫자형 변수라고 할 수 있는 스칼라와 벡터는 곱셈 연산이 가능하며, 분배법칙을 적용할 수 있다.

u = [1,2,3]
v = [4,4,4]
alpha = 2

result = [alpha*sum(t) for t in zip(u,v)]
result

SyntaxError: cannot assign to function call (136908918.py, line 4)

In [ ]:
#파이썬 스타일 코드로 표현한 행렬
#행렬도 벡터와 마찬가지로 리스트, 튜플, 딕셔너리 등을 사용하여 파이썬 스타일 코드로 표현할 수 있다.
matrix_a = [[3,6],[4,5]] #리스트로 표현한 경우
matrix_b = [(3,6),(4,5)] #튜플로 표현한 경우
matrix_c = {(0,0):3 , (0,1):6, (1,0): 4 (1,1):5} #딕셔너리로 표현한 경우

In [78]:
matrix_a = [[3,6],[4,5]]
matrix_b = [[5,8],[6,7]]
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]
print(result)

[[8, 14], [10, 12]]

In [87]:
#파이썬 스타일 코드로 표현한 행렬 :  행렬의 동치
#행렬의 동치는 2개의 행렬이 서로 같은지를 나타내는 표현으로, 만약 행렬이 같다면 2개의
#행렬이 동치라고 말한다.
#두 행렬이 동치임을 확인하는 코드
matrix_a = [[1,1],[1,1]]
matrix_c = [[1,1],[1,1]]
all([row [0] == value for t in zip(matrix_a, matrix_c) 
     for row in zip(*t)for value in row])
[[row[0] == value for value in row] for t in zip(matrix_a, matrix_b) for row in zip(*t)]

[[True, False], [True, False], [True, False], [True, False]]

all()함수와 any() 함수는 리스트형과 튜플형에서 내부 값이 and 조건이나 or 조건으로 참인지 거짓인지 반환하는 함수이다.

any([false,false,false]) -> false
any([false,true,false]) -> true
all([false,true,true]) -> false
all([true,true,true]) -> true

**파이썬 스타일 코드로 표현한 행렬 : 전치행렬 **
 - 전치행렬을 구현하기 위해 행과 열의 값을 변경해야 한다. 구현은 간단하다. 기본 행렬 리스트에서 별표와 zip()함수로 각 행의 같은 위치의 인덱스값을 추출한 후 , 이 값으로 리스트를 새롭게 구성하면 된다.

In [88]:
matrix_a = [[1,2,3],[4,5,6]]
result = [[element for element in t] for t in zip(*matrix_a)]
result

[[1, 4], [2, 5], [3, 6]]

**파이썬 스타일 코드로 표현한 행렬 :  행렬의 곱셈**
- 행렬의 곱셈은 앞 행렬의 열과 뒤 행렬의 행을 선형 결합하면 된다.

In [ ]:
matrix_a = [[1,1,2],[2,1,1]]
matrix_b = [[1,1],[2,1],[1,3]]
result = [[sum(a*b for a,b in zip(row_a, column_b)) for column_b in zip(*matrix_b)
          for row_a in matrix_a]]