####입력 IN input()

In [ ]:
print("Enter your name :")

In [ ]:
somebody = input()

In [ ]:
print("Hi",somebody,"how are you today?")

In [1]:
a = input()
print(a)

good
good

In [ ]:
a = input("문자열을 입력하세요 :")
print(b, type(b))

In [3]:
b = input("숫자를 입력하세요 : ")
print(b, type(b))

숫자를 입력하세요 : 100
100 <class 'str'>

In [5]:
# can only concatenate str (not "int") to str error
b = input("숫자를 입력하세요 : ")
print(b + 100)

숫자를 입력하세요 : 100

TypeError: can only concatenate str (not "int") to str

In [6]:
# b가 가지고 있는 str 타입의 값을 두번 반복한다.
b = input("숫자를 입력하세요 : ")
print(b * 2)

숫자를 입력하세요 : 100
100100

#### 출력 print()

     - print(1,2,3)
     - print(1,2,3 ,sep = ".") : 출력 데이터 간의 구분자 (기본값 : 공백)
     - print(1,2,3 ,end = " ") : 출력 후 나올 문자(기본값 : 줄바꿈 )
     - print("%d + %d = %d" %(1,2,3))
     - print("{} + {} = {} .format(1,2,3))

In [7]:
print(1,2,3)

1 2 3

In [8]:
print(1,2,3, sep = ".")

1.2.3

In [12]:
print(1,2 ,end= " ")
print(3,4 ,end = " ")
print(5,6)

1 2 3 45 6

In [13]:
print("%d + %d = %d" %(1,2,3))

1 + 2 = 3

In [14]:
print("%d" %123)
print("%5d" %123)
print("%05d" %123)

123
  123
00123

In [15]:
print("%s" % "python")
print("%10s" % "python")

python
    python

In [16]:
print("%d / %d = %d" %(7,2, 7/2))

7 / 2 = 3

In [17]:
print("{} + {} = {}" .format(1,2,3))

1 + 2 = 3

In [19]:
print("{1:} + {0:} = {2: ,}".format(100,200,300))

200 + 100 =  300

In [21]:
print("{1:d} + {0:5d} = {2:,d}".format(100,200,300000))

200 +   100 = 300,000

In [22]:
print("\n줄 바꿈\n연습 ")
print("\t탭 키\t연습")
print("글자가 \"강조\"되는 효과1")

줄 바꿈
연습
	탭 키	연습
글자가 "강조"되는 효과1