## 튜플과 세트

**튜플**

튜플은 리스트와 같은 개념이지만, 데이터를 변경할 수 없는 자료구조이다.
튜플끼리 더하거나 int형과 곱할 수 있다.

튜플과 리스트의 유일하면서도 큰 차이점이 있다면, 튜플의 값은 마음대로 변경할 수 없다.
만약 튜플의 값을 변경하고 싶다면 오류가 발생한다.

튜플은 언제 사용할까?

사실 프로그래밍을 하다 보면 자신이 하나의 함수만 만들고, 다른 사람이 그 함수의 결과값을 사용해야 하는 경우가 발생할 수 있다. 이때 반환해 주는 타입을 튜플로 선언하여 받아서 사용하는 사람이 마음대로 데이터를 바꾸지 못하게 할 수 있다.

예를 들어 
학번, 이름, 주민등록번호와 같이 변경되지 않아야 하는 정보 등이다. 프로그래머가 이러한 이해 없이 마음대로 값을 변경하려고 할 때, 튜플은 이를 방지하는 기능을 한다.

In [5]:
tt1 = (10,20,30)
tt2 = 10,20,30
print(tt1,tt2)

(10, 20, 30) (10, 20, 30)

In [14]:
# 요소가 하나인 튜플 생성하고 싶다면 , 를 찍으면 된다.
tt3 = 10
print(tt3, type(tt3))

tt4 = (10,)
print(tt4 , type(tt4))

10 <class 'int'>
(10,) <class 'tuple'>

In [16]:
a = tuple()

a1 = tuple(range(10))
a2 = tuple([1,2,3,4]) # list -> tuple

TypeError: list expected at most 1 argument, got 4

In [17]:
del(a1)

In [44]:
myTuple = (10,20,30)
# 3번 인덱스에 40 추가

myList = list(myTuple)
myList.append(40)

print(myList , type(myList))
myTuple = tuple(myList)
print(myTuple ,type(myTuple))

[10, 20, 30, 40] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>

In [45]:
tt1 = ('a','b')
print(tt1+ myTuple)
print(tt1*2)

('a', 'b', 10, 20, 30, 40)
('a', 'b', 'a', 'b')