## 세트

세트는 튜플과 다르게 삭제나 변경이 가능하다. 이 기능을 위해 다양한 함수를 지원한다.

add() : 원소 하나를 추가
remove(): 원소 하나를 제거
update() : 새로운 리스트를 그대로 추가
clear() : 모든 변수를 지우기
union() : 합집합
interesection() : 교집합
difference() : 차집합

In [3]:
# 중복값이 있는 리스트를 set함수에 넣어줬지만 중복값을 삭제한다.
s = set([1,2,3,1,2,4])

print(s)
s.add(6)
s.add(1) # 중복 값을 넣어줬지만 에러는 나지 않는다 하지만 출력해보면 중복값이라 제거되고 출력 되는 것을 볼 수 있다.
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [9]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

s1.union(s2)
s1|s2
s1.intersection(s2)
s1&s2
s1.difference(s2)
s1-s2

{1, 2}